<div class="form-flexbox-rhs">
  <div class="white-form-rounded">
    <h2 class="two-color-headline">about<span class="nest-purple">you</span></h2>
    <p>To ensure we place you in the perfect environment for learning and flourishing together, please share a bit more about yourself below. Your answers will enable us to match you seamlessly with your ideal community.</p>
    <%= simple_form_for(current_user, as: :user, url: profile_path, html: { method: :patch }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.input :due_date, label: "Your baby's due date or DOB",
                    required: true,
                    as: :string,
                    input_html: { autocomplete: "due date", class: "datepicker-input", data: { controller: "datepicker" } }  %>
        <%= f.input :post_code, label: "Your postcode",
                    required: true,
                    as: :string,
                    input_html: { autocomplete: "postcode" } %>
        <%= f.input :bio, label: "A bio to introduce yourself",
                    hint: "(A detailed bio makes it easier to match you to the right group or mentor later on)",
                    required: true,
                    input_html: { autocomplete: "bio" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Continue" %>
      </div>
    <% end %>
  </div>
</div>

<div class="tree-bg-user-edit">
</div>
