<div class="form-flexbox-lhs">
  <div class="white-form-rounded">
  <h2 class="two-color-headline">sign<span class="nest-purple">up</span></h2>
  <p>Simply fill out the form below to get started on your journey towards support, guidance, and meaningful connections. We look forward to welcoming you into the the nest.</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "given-name" } %>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "family-name" } %>
      <%= f.input :nickname,
                  input_html: { autocomplete: "nickname" } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

    <p>Already have an account? Sign in <a href="#">here</a></p>
  </div>
</div>
<div class="tree-bg-signup">
</div>
