<div class="dashboard-lhs-all">
  <h2 class="two-color-sentence">together<span class="nest-purple">nest</span></h2>
  <p class="sml-dashboard-title-purple">private mentor outreach</p>

  <div class="dashboard-row">
      <div class="mentor-msg-workaround" data-controller="group-subscription" data-group-subscription-group-id-value="<%= @group.id %>" data-group-subscription-current-user-id-value="<%= current_user.id %>">
            <h1 class="two-color-sentence-sml">mentor<span class="nest-purple-sml">/mentoree</span> (private chat)</h1>
            <div class="messages" data-group-subscription-target="messages">
              <% @group.messages.each do |message| %>
              <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                  <%= render "messages/message", message: message %>
                </div>
              </div>
              <% end %>
            </div>

            <%= simple_form_for [@group, @message],
            html: { data: { action: "turbo:submit-end->group-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <%= f.input :content,
            label: false,
            placeholder: "Message ##{@group.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "send", class: "btn btn-primary mb-3" %>
          <% end %>
          </div>

    <div>

      <div class="mentor-chat-card">
      <h2 class="two-color-sentence-sml">mentor<span class="nest-purple-sml">program</span></h2>
      <p>This is your dedicated and private mentor space.<br>A safe space for you to communicate 1-on-1 with <%= @group_chat_mentor.first_name %></p>
      <%= cl_image_tag current_user.photo.key, class: "mentor-chat-avatar" %>
      <h1 class="name-title"><%= @group_chat_mentor.first_name %></h1>
      <h5 class="sml-nickname"><%= @group_chat_mentor.nickname %></h5>
      </div>

      <%= image_tag asset_path("vector-directory.svg") %>

      <div class="return-box">
        <%= link_to "Community dashboard", :back %>
      </div>

      <div class="move-up-115px">
        <%= image_tag asset_path("vector-opt-out.svg") %>
          <div class="opt-out-box">
            <%= link_to "opt out ?", leave_group_path(@group),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently end this mentoring arrangement?" }%>
          </div>
      </div>

      </div>

    </div>
  </div>
</div>

<div class="tree-bg-mentor-dashboard">
</div>
