<div class="form-flexbox-lhs">
  <div class="flex" style="display: flex; flex-direction: row; align-items: center;">
    <div class="container group" data-controller="group-subscription" data-group-subscription-group-id-value="<%= @group.id %>" data-group-subscription-current-user-id-value="<%= current_user.id %>">
      <h1 class="two-color-headline">notice<span class="nest-purple">board</span></h1>
      <h2 class="two-color-sentence-sml"><%= @group.name %></h2>
      <div class="messages" data-group-subscription-target="messages">
        <% @group.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
        <% end %>
      </div>

      <%= simple_form_for [@group, @message],
      html: { data: { action: "turbo:submit-end->group-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@group.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "send", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>

    <div class="flex" style="display: flex; flex-direction: row; align-items: center;">
      <div class="row">
        <div class="mentor-cta">
          <div class="btn">
            <%= link_to "members", users_group_path %>
          </div>
          <div class="btn">
            <%= link_to "mentor program", mentorship_path %>
          </div>
        </div>
          <!-- <div class="btn-join">
            <% group_user = GroupUser.find_by(user_id: current_user.id, group_id: @group.id) %>
            <% unless group_user %>
            <div class="btn">
              <%= link_to "Join Group", group_users_path(user: current_user, group: @group), data: { turbo_method: :post },onclick: 'alert("You have joined the group!");'%>
            </div>
            <% end %> -->
          <div class="btn">
            <%= link_to "Leave group", leave_group_path(@group),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently leave this group?" },
                class: "ms-3 text-danger" %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="tree-bg-dashboard">
</div>
