<div class="form-flexbox-lhs">
  <div class="white-form-rounded">
  <p class="two-color-headline">new<span class="nest-purple">parent community</span></p>
  <p>Can't find the right match for you? There's always a solution at togethernest. Fill in this short form to create a new parent community in your area. Then just wait for other parents to join. We look forward to welcoming you and fellow new members into the nest.</p>

  <%= simple_form_for(@group) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, label: "Your parent community's name" %>
      <%= f.input :post_code, label: "The postcode for your community's area",
                  as: :string,
                  required: true %>
      <%= f.input :due_date, label: "The season and year the babies of this community are expected to be born",
                  as: :string,
                  required: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "submit" %>
    </div>
  <% end %>
  </div>
</div>

<div class="tree-bg-signup">
</div>
