<div class="container group" data-controller="group-subscription" data-group-subscription-group-id-value="<%= @group.id %>">
  <h1>#<%= @group.name %></h1>

  <div class="messages" data-group-subscription-target="messages">
    <% @group.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@group, @message],
    html: { data: { action: "turbo:submit-end->group-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@group.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
