<div class="flex-hp">
  <div id="tree-hp">
    <%= image_tag asset_path("tree.svg") %>
  </div>
  <div id="birds-logo-hp">
    <%= image_tag asset_path("birds.svg"), class: "birds-flying" %>
    <div id="logo-tagline">
      <h1>together<span class="nest">nest</span></h1>
      <p>Guiding and supporting new parents through thoughtfully<br>curated online communities and mentorships</p>
      <% if current_user && current_user.groups.where(group_type: "parent community").first %>
        <h2><%= link_to "dashboard", group_path(current_user.groups.where(group_type: "parent community").first) %> | <%= link_to 'log out', destroy_user_session_path, data: {turbo_method: :delete} %></h2>
      <% elsif current_user %>
        <h2><%= link_to "dashboard", groups_path %> |<%= link_to 'log out', destroy_user_session_path, data: {turbo_method: :delete} %></h2>

      <% else %>
        <h2><%= link_to "log in", new_user_session_path %> | <%= link_to "sign up", new_user_registration_path %></h2>
      <% end %>

    </div>
  </div>
</div>
<div class="footer-hp">
  <p>Made with love, confusion, stress, hash rockets, tears and much laughter by the good people at togethernest - Halima, Matt, Tara & Yumi.</p>
</div>
<div class="sky">
</div>
