<div class="form-flexbox-rhs">
  <div class="mentors-x3-container">
    <h2 class="two-color-sentence">your together<span class="nest-purple">nest</span> mentor matches</h2>
    <p>
      We're thrilled to inform you that we've identified three ideal mentor options tailored specifically to your situation. Each mentor brings unique expertise and experience. Ultimately, the decision is yours, empowering you to choose the mentor who you feel most comfortable with.
    </p>
    <div style="display: flex; justify-content: space-between;">
      <div class="mentor-card">
        <%= image_tag asset_path("parent2.jpg"), class: "mentor-info-avatar-lg" %>
        <h2>Jo</h2>
        <p>Loving mum of three cheeky boys</p>
        <div class="btn">
          <%= link_to "connect", root_path %>
        </div>
      </div>
      <div class="mentor-card">
        <%= image_tag asset_path("parent3.jpg"), class: "mentor-info-avatar-lg" %>
        <h2>Billy</h2>
        <p>I'd say I'm a tough but fair dad</p>
        <div class="btn">
          <%= link_to "connect", root_path %>
        </div>
      </div>
      <div class="mentor-card">
        <%= image_tag asset_path("parent1.jpg"), class: "mentor-info-avatar-lg" %>
        <h2>Emma</h2>
        <p>My kids are absolute animals</p>
        <div class="btn">
          <%= link_to "connect", root_path %>
        </div>
      </div>
    </div>
    <p>
      Make your selection above and your preferred mentor will recieve your request along with your profile and introduction message. Once accepted, we will connect you.
    </p>
  </div>
</div>


<div class="tree-bg-mentor-rec">
</div>
