<div class="form-flexbox-rhs">
  <div class="white-form-rounded">
    <h2 class="two-color-headline">become a<span class="nest-purple">mentor</span></h2>
    <p>To ensure we find your perfect match with a parent looking for a mentor, please share more about yourself in as much detail as possible. Your answers will enable us to match you seamlessly with a parent needing your expertise and guidance.</p>
    <%= simple_form_for(current_user, as: :user, url: mentor_profile_path, html: { method: :patch }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.input :post_code, label: "Your postcode",
                    required: true,
                    as: :string,
                    input_html: { autocomplete: "postcode" }  %>
        <%= f.input :parent_experience, label: "How many years have you been parenting?",
                    required: true,
                    as: :string,
                    input_html: { autocomplete: "parent experience in years" } %>
        <%= f.input :bio, label: "A detailed bio to introduce yourself",
                    hint: "Having a detailed bio makes it easier to match you to the right mentee.",
                    required: true,
                    input_html: { autocomplete: "bio" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Continue" %>
      </div>
    <% end %>
  </div>
</div>

<div class="tree-bg-user-edit">
</div>
